.about{
  padding-top:50px;
  .thumbnail{
    min-height: 450px!important;
    margin-bottom:0!important;
  }
  hr{
    border-color:black;
  }
  .qsomos{
    h1{
      text-align:center;
    }
    p{
      text-align:justify;
    }
  }
}