.container-casadetail{
  h3{
    text-decoration: underline;
    font-size: 25px;
  }

  span{
    &.titulo{
      font-weight:bold;
    }
  }

  .imagenes{
    img {
      &.imagen-grande {
        width: 100%;
      }
    }
    .miniatura {
      padding-right:1px!important;
      padding-top: 2px;
      img {
        &.img-miniatura1 {
          width: 100%;
          }
        }
      }
    }

  .infoppal{
    hr{
      &.items{
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    ul{
      li{
        display: inherit;
      }
    }

    .confirmar{
      text-align:Center;
      padding-top:30px;
      button{
        &.btn-success{
          font-size: 40px;
        }
      }
    }
    .consulta{
      text-align:Center;
      padding-top:10px;
      button{
        &.btn-info{
          font-size: 20px;
        }
      }
    }
  }

}