.container-casadetail{
  h3{
    text-decoration: underline;
    font-size: 25px;
  }
  span{
    &.titulo{
      font-weight:bold;
    }
  }
  hr{
    &.items{
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .imagenes{
    img{
      &.imagen-grande{
        width:100%;
      }
    }
  }

  ul{
    li{
      display: inherit;
    }
  }

  button{
    &.bnt {
      font-size: 30px;
    }
  }
}