.footer{
  margin:0!Important;
  background-color:$whitetransparent;
  min-height: 190px;
  margin-top:80px!important;
  position: relative;
  height: 330px;
  -webkit-box-shadow: 1px -2px 5px 0px rgba(117,117,117,1);
  -moz-box-shadow: 1px -2px 5px 0px rgba(117,117,117,1);
  box-shadow: 1px -2px 5px 0px rgba(117,117,117,1);
  .container{
     &.col-fot{
       background:none;
       padding-top:30px;
       .detalles{

         .columna{
           height:273px;
           border-right: 1px solid $greydark;
           border-left: 1px solid $greydark;
           text-align:center;
           h3,p{
             margin:0;
           }
         }
       }

     }
  }
}