.signup {
  padding-bottom: 21px!important;
  h2 {
    &.titulo-registro {
      text-align: center;
      font-size: 40px;
    }
  }
  .error-msg{
    text-align:Center;
  }
  .boton{
    text-align: center;
    button{
      width: 100px;
    }
  }
}