<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Estados</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        Estado: {{ estado.nombre }} <br>
        ID: {{ estado.id }} <br>
    </body>
</html>
