{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
        {% for estado in estados %}
            <tr>
                <td>{{ estado.id }}</td>
                <td>{{ estado.nombre }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block stylesheets %}

{% endblock %}

