<div class="container principal">
    <h2 class="encabezado">
        Preguntas Frecuentes
    </h2>
    <hr>
    <ul>
        <li>
            <h4 style="font-weight: bold;">C&oacute;mo hago para loguearme si al intentar hacerlo me aparece el mensaje de error de usuario inhabilitado?</h4>
            <p>Si tu usuario se encuentra inhabilitado no puedes loguearte, esto se debe a que has acumulado varias denuncias,
                si quieres conocer el motivo de las denuncias cont&aacute;ctate a contacto@findes.com</p>
        </li>
        <li>
            <h4 style="font-weight: bold;">C&oacute;mo hago para publicar mi casa?</h4>
            <p>Para publicar tu casa primero debes loguearte a la p&aacute;gina, luego vas al men&uacute; de usuario, seleccionas
                la opci&oacute;n 'publicar mi casa' y completas los datos de la misma.</p>
        </li>
        <li>
            <h4 style="font-weight: bold;">Cargu&eacute; mal los datos de una casa m&iacute;a, C&oacute;mo puedo solucionarlo?</h4>
            <p>Si cargaste mal los datos no te preocupes, tan solo debes ingresar al men&uacute; de usuario nuevamente,
                y all&iacute; seleccionar la opci&oacute;n 'mis casas publicadas'.
                Encontrar&aacute;s una lista de tus casas, ah&iacute; puedas seleccionar una y modificar sus datos, o incluso eliminarla. </p>
        </li>
        <li>
            <h4 style="font-weight: bold;">Quiero encontrar una casa espec&iacute;fica pero el cat&aacute;logo de casas es muy extenso. </h4>
            <p> Si cargaste mal los datos no te preocupes, tan solo debes ingresar al men&uacute; de usuario nuevamente, y all&iacute; seleccionar la opci&oacute;n 'mis casas publicadas'. Encontrar&aacute;s una lista de tus casas, ah&iacute;&iacute; puedas seleccionar una y modificar sus datos, o incluso eliminarla.</p>
        </li>
        <li>
            <h4 style="font-weight: bold;">C&oacute;mo hago para realizar una reserva? </h4>
            <p>Para realizar una reserva primero debes seleccionar una casa, una vez realizado esto debes elegir la fecha de la reserva y verificar la disponibilidad. Si la casa est&aacute; disponible podr&aacute;s reservarla haciendo click en el bot&oacute;n 'Reservar ahora', de lo contrario tendr&aacute;s que buscar otra fecha, ya que esa casa, para esa fecha ya se encuentra reservada. </p>
        </li>
        <li>
            <h4 style="font-weight: bold;">Yo ya s&eacute; las fechas en las que voy a reservar, pero cada vez que ingreso a una casa me encuentro con que no tiene disponibilidad para esa fecha.</h4>
            <p>Si ya sabes cu&aacute;ndo vas a reservar, puedes filtrar las casas del cat&aacute;logo por fecha, de esta forma solo te aparecer&aacute;n en el mismo las casas disponibles para esa fecha. As&iacute; estar&aacute;s seguro que la casa que elijas va a estar disponible.</p>
        </li>
        <li>
            <h4 style="font-weight: bold;">Quisiera contactarme con el due&#241;o de una casa para preguntarle si se permiten mascotas, C&oacute;mo puedo hacerlo?</h4>
            <p>Para cualquier consulta que quieras realizarle al due&#241;o de una casa, puedes mandarle un mail a su correo electr&oacute;nico. Solo debes ingresar al detalle de la casa y hacer click en el bot&oacute;&oacute;n 'Realizar una consulta'</p>
        </li>
    </ul>
</div>