html, body {
  height: 100%; }

body {
  background: url("view/images/wallp.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.wrapper-index {
  margin-top: 150px;
  min-height: 100%;
  margin-bottom: -330px;
  position: relative; }

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 50px !important;
  padding-right: 50px !important; }

.clearfooter {
  height: 330px;
  clear: both; }

a, p, h1, h2, h3, h4, h5, label, button {
  font-family: 'Yanone Kaffeesatz', sans-serif; }

a, p, label, button {
  font-size: 18px; }

.navbar {
  position: fixed !important;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none !important;
  background-color: rgba(255, 255, 255, 0.9); }
  .navbar .navbar-header h2.findes {
    font-family: 'Great Vibes', cursive;
    margin-top: 0;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 47px; }
  .navbar ul.izquierda li {
    background-color: #f1f1f1;
    transition: all;
    transition-duration: 0.3s; }
    .navbar ul.izquierda li a {
      color: black;
      transition: all;
      transition-duration: 0.3s; }
    .navbar ul.izquierda li.activo {
      background-color: #117314 !important; }
      .navbar ul.izquierda li.activo a {
        color: white; }
    .navbar ul.izquierda li:hover {
      background-color: #117314 !important; }
      .navbar ul.izquierda li:hover a {
        color: white; }

.footer {
  margin: 0 !important;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 190px;
  margin-top: 80px !important;
  position: relative;
  height: 380px;
  -webkit-box-shadow: 1px -2px 5px 0px #757575;
  -moz-box-shadow: 1px -2px 5px 0px #757575;
  box-shadow: 1px -2px 5px 0px #757575; }
  .footer .container.col-fot {
    background: none;
    padding-top: 30px; }
    .footer .container.col-fot .detalles .columna {
      height: 273px;
      border-right: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      text-align: center; }
      .footer .container.col-fot .detalles .columna h3, .footer .container.col-fot .detalles .columna p {
        margin: 0; }
  .footer .copyright {
    padding-top: 10px;
    margin-top: 30px;
    border-top: 1px solid grey;
    margin-left: 0;
    margin-right: 0;
    text-align: center; }
    .footer .copyright p {
      font-size: 15px !important;
      font-style: italic; }

.catalogo h2.titulo-catalogo {
  text-align: center;
  font-size: 47px;
  text-decoration: underline;
  padding-bottom: 30px;
  padding-top: 30px; }
.catalogo .buscador h3.titulo-buscador {
  font-size: 31px;
  margin: 0; }
.catalogo .buscador hr {
  border-top: 2px solid grey; }
.catalogo .buscador h4.disponibilidad {
  font-size: 21px !important; }
.catalogo .casas h4.detalle {
  margin: 0 !important;
  font-weight: bold; }

.carousel-inner img {
  width: 100%; }

.containerindex {
  padding-top: 30px;
  margin-top: 15px;
  border-radius: 20px; }
  .containerindex .bienvenida .izq {
    text-align: center; }
    .containerindex .bienvenida .izq hr {
      margin: 0;
      border-color: black; }
    .containerindex .bienvenida .izq h1.findes {
      font-family: 'Great Vibes', cursive;
      font-size: 74px;
      margin: 0; }
    .containerindex .bienvenida .izq p.slogan {
      font-family: 'Great Vibes', cursive;
      font-size: 25px; }
  .containerindex .bienvenida .der {
    padding-bottom: 35px; }

.about {
  padding-top: 50px; }
  .about .thumbnail {
    min-height: 450px !important;
    margin-bottom: 0 !important; }
  .about hr {
    border-color: black; }
  .about .qsomos h1 {
    text-align: center; }
  .about .qsomos p {
    text-align: justify; }

/*# sourceMappingURL=input.css.map */
