html, body {
  height: 100%;
}
body{
  background: url("view/images/wallp.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper-index{
  margin-top: 150px;
  min-height: 100%;
  margin-bottom: -330px;
  position: relative;
  &.index{
    //margin-top: 121px!Important;
  }
}
.container{
  background-color:$whitetransparent;
  padding-left:50px!important;
  padding-right:50px!important;

}
.clearfooter{
  height: 330px;
  clear: both;
}