
<div class="carousel slide" id="carousel-483114">
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-483114"></li>
    </ol>
    <div class="carousel-inner">

        <div class="item active" >
            <div class="carousel-caption">

            </div>
        </div>

    </div>
</div>

<!--MISION - VISION - VALORES -->
<div class="container">
    <div style="background-color: #fffefd; margin-top:0px;">

        <div class="row">

            <div class="col-md-4">
                <div class="thumbnail" style="text-align: center; height: 300px;">
                    <img src="view/images/about/MISION.png" alt=""/>
                    <div class="caption">
                        <p>
                            Lograr cubrir todas las necesidades de los clientes con firmeza, ofreciéndoles todo el material
                            disponible distribuido por las discográficas más grandes del mercado actual: Warner Music Group,
                            Sony Music Entertainment (SME), Universal Music Group (UMG), YG Entertainment, entre otros.
                            <br><br>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail" style="text-align: center;height: 300px;">
                    <img src="view/images/about/VISION.png" alt=""/>
                    <div class="caption">
                        <p>
                            Nuestra visión es liderar el mercado hispanoparlante afianzándonos en tres pilares fundamentales:
                            la conveniencia de nuestra propuesta de valor, la experiencia de uso de nuestra plataforma, y la sinergia de todos los canales de distribución del Grupo ILHSA.
                            <br><br>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail" style=" height: 300px;">

                    <img src="view\images\about\MISION.png" alt=""/>
                    <div class="caption">
                        <p>
                            - La satisfacción del 100% de nuestros clientes.<br>
                            - Otorgar servicios de alta calidad.<br>
                            - Promover una imagen excelente de nuestra empresa.<br>
                            - Estar a la vanguardia en tecnología.<br>
                            - Puntualidad y honestidad.<br>
                            - Responsabilidad y justicia en nuestros precios.<br>

                        </p>

                    </div>

                </div>
            </div>

        </div>

        <!--INFORMACIÓN: QUIÉNES SOMOS -->
        <h1 style="text-align: center; font-family: Mystery Quest; ">	QUIENES SOMOS
        </h1>
        <p style="margin-left: 50px; margin-right: 50px; text-align: justify;">
            Discros, desde el año 1970 somos una empresa de distribución y venta discográfica donde la especialización, la calidad y el servicio son nuestra mejor carta de presentación.<br><br>
            En este rincón de Internet usted podrá consultar discos de todo el mundo, siempre en edición oficial fabricado por la compañía autorizada en el país de origen, versiones originales totalmente garantizadas y que complen todos los requisitos legales para su distribución desde la Union Europea.
            Le invitamos a que visite nuestro catálogo y revise la discografía de sus grupos y artistas preferidos y bien seguro se encontrará con agradables sorpresas.
            En Disc-Order fomentamos el mercado libre discográfico, sin restricciones ni exclusivas, despreciamos la piratería que daña a los artistas y pone en grave riesgo la continuidad de una actividad que, ante todo, "suena" a CULTURA.
            <br><br><br>
        </p>

    </div>
</div>