<!--Dependencias necesarias-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script src="node_modules/angular/angular.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<!--Controladores creados por nosotros-->
<script src="js/app.js"></script>
<script src="js/components/catalogo/catalogo.controller.js"></script>
<script src="js/components/caracteristicas/caracteristicas.controller.js"></script>
<script src="js/components/casas/casadetail.contoller.js"></script>
<script src="js/components/navbar/navbar.controller.js"></script>
<script src="js/components/usuario/signup.controller.js"></script>
<script src="js/components/usuario/signin.controller.js"></script>
<script src="js/translate.validation.js"></script>

<!--Link css-->
<link rel="stylesheet" href="output.css" />
<link href='https://fonts.googleapis.com/css?family=Great+Vibes|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>